{% extends 'layout/layout.twig' %}
{% import 'macros/forms.twig' as forms %}

{% block content %}
    <h1>{{ firm.name }}</h1>

    <form method="{{ form.attributes.method }}" action="{{ url('firms', {'action': 'edit', 'id': id}) }}" name="firm" id="firm">
        {% for element in form %}
            {{ forms.input(element.attributes.name, element.value, element.attributes.type, element.label, 20, element.messages) }}
        {% endfor %}
    </form>
{% endblock content %}
