{{checkRole(1)}}
<button ng-click="tableOrders.reload()" class="btn btn-default">Reload</button>

<button ng-click="tableOrders.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
<button ng-click="tableOrders.filter({})" class="btn btn-default pull-right">Clear filter</button>

<div class="clearfix"></div>
<div loading-container="tableOrders.settings().$loading">
    <table ng-table="tableOrders" show-filter="true" class="table">
        <tbody>
        <tr ng-repeat="order in $data">
            <td data-title="'Id'" filter="{ 'id': 'text' }"  sortable="'id'" >
                {{order.id }}
            </td>
            <td data-title="'Date'" filter="{ 'created': 'text' }"  sortable="'created'" >
                {{order.created }}
            </td>
            <td data-title="'Name'" filter="{ 'name': 'text' }"  sortable="'name'" >
                {{order.name}}
                {{$loading}}
            </td>
            <td data-title="'Firm'" filter="{ 'firm_id': 'firm' }"  sortable="'firm_id'" >
                {{order.firm }}
            </td>
            <td data-title="'Client'" filter="{ 'client_id': 'client' }"  sortable="'client_id'" >
                {{order.client }}
            </td>
            <td data-title="'User'" filter="{ 'user_id': 'user' }"  sortable="'user_id'" >
                {{order.user }}
            </td>
            <td data-title="'Amount'" filter="{ 'amount': 'text' }"  sortable="'amount'" >
                {{order.amount}}
            </td>
            <td data-title="'State'" filter="{ 'state': 'status' }"  sortable="'state'" >
                <span class="form-control btn
                    {{(order.state == 1) && 'btn-primary' || ''}}
                    {{(order.state == 2) && 'btn-warning' || ''}}
                    {{(order.state == 3) && 'btn-success' || ''}}
                    {{(order.state == 4) && 'btn-info' || ''}}
                    {{(order.state == 5) && 'btn-danger' || ''}}
                    btn-xs nobutton" >
                    {{statuses[order.state].name}}
                </span>
            </td>
            <td data-title="'Jobs State'" nowrap class="jbsstate"  >

                <span ng-repeat="job in order.jobs"  style="padding:0px;float:left;height:15px;width:{{getWidth(order.jobs_cnt)}}px;"
                      class="{{(job.state == 1) && 'btn-primary' || ''}}
                {{(job.state == 2) && 'btn-warning' || ''}}
                {{(job.state == 3) && 'btn-success' || ''}}
                {{(job.state == 4) && 'btn-info' || ''}}
                {{(job.state == 5) && 'btn-danger' || ''}}
                btn-xs nobutton"></span>
            </td>
            <td data-title="'Action'"> <a href="#/edit/{{ order.id  }}"><button class="btn btn-success btn-outline btn-xs" type="button">{{ translate('ru','view') }}</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p><strong>Sorting:</strong> {{tableOrders.sorting()|json}}
<p><strong>Filter:</strong> {{tableOrders.filter()|json}}
    <script type="text/ng-template" id="ng-table/filters/status.html">
        <select name="filter-state" class="form-control btn
                                    {{(params.filter()[name] == 1) && 'btn-primary' || ''}}
                                    {{(params.filter()[name] == 2) && 'btn-warning' || ''}}
                                    {{(params.filter()[name] == 3) && 'btn-success' || ''}}
                                    {{(params.filter()[name] == 4) && 'btn-info' || ''}}
                                    {{(params.filter()[name] == 5) && 'btn-danger' || ''}}
                                btn-xs nobutton" ng-model="params.filter()[name]" ng-init="" >
            <option  value="">-</option>
            <option ng-repeat="stat in statuses" ng-selected="stat.id==params.filter()[name]"  value="{{stat.id}}">{{stat.name}}</option>
        </select>
    </script>
    <script type="text/ng-template" id="ng-table/filters/firm.html">
        <select class="form-control" name="firm_id" ng-model="params.filter()[name]">
            <option value="">-</option>
            <option ng-repeat="firm in firms"   ng-selected="firm.id==params.filter()[name]"  value="{{firm.id}}">{{firm.name}}</option>
        </select>
    </script>
    <script type="text/ng-template" id="ng-table/filters/user.html">
        <select class="form-control"  ng-model="params.filter()[name]">
            <option value="">-</option>
            <option ng-repeat="user in users" {{(params.filter()[name] == user.id) && 'selected' || ''}}  value="{{user.id}}">{{user.name}}</option>
        </select>
    </script>
    <script type="text/ng-template" id="ng-table/filters/client.html">
        <input type="text" AUTOCOMPLETE="off" list="listCities" placeholder="Search..." class="form-control " size="20" ng-model="searchparam" value="" name="name">
        <select class="form-control " required="" ng-model="params.filter()[name]">
            <option value="">-</option>
            <option ng-repeat="client in clients | filter: searchparam" ng-selected="client.id==params.filter()[name]"  value="{{client.id}}">{{client.name}}</option>
        </select>
    </script>