{{checkRole(1)}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <form id="client" name="client" action="" method="post">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-2">
                                <h4 class="fl">{{translate(curlng,'Order')}} №{{orderId}}</h4><b>{{ userName }} {{ userId }} {{(userId == 1) && 'disabled' || ''}}</b>
                            </div>
                            <div class="col-lg-9">
                                <div class="progress progress-striped active" ng-hide="progressbar >= 100">
                                    <div style="width: {{progressbar}}%" aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="{{progressbar}}" role="progressbar"
                                         class="progress-bar progress-bar-success">
                                        <span class="">{{progressbar}}% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="hidden" class="form-control" size="20" value="{{order.id}}" name="id">
                            <div class="form-group  form-element-firm_id">
                                <label>{{translate(curlng,'firm')}}:</label>
                                <select class="form-control" name="firm_id" ng-model="order.firm.id">
                                    <option>--- Select Firm ---</option>
                                    <option ng-repeat="firm in firms"   ng-selected="firm.id==order.firm.id"  value="{{firm.id}}">{{firm.name}}</option>

                                </select>
                            </div>
                            <div class="form-group  form-element-name">
                                <label class="fl">{{translate(curlng,'client')}}:</label>
                                <!--<input type="text" list="listCities" placeholder="Enter your location.." >-->
                                <!--<datalist id="listCities" ng-model="aaaa">-->
                                    <!--<option ng-repeat="client in clients | filter: searchparam" ng-selected="client.id==order.client.id"  value="{{client.id}}">{{client.name}}</option>-->
                                <!--</datalist>-->
                                <input type="text" AUTOCOMPLETE="off" list="listCities" placeholder="Search..." class="form-control w250" size="20" ng-model="searchparam" value="" name="name">
                                <button class="w30" disabled>+</button>
                                <select class="form-control" required="" ng-model="order.client.id">
                                    <option ng-repeat="client in clients | filter: searchparam" ng-selected="client.id==order.client.id"  value="{{client.id}}">{{client.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>{{translate(curlng,'name')}}</label>
                                <input placeholder="Enter name" class="form-control" ng-model='order.name'>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <fieldset disabled="">
                                <div class="form-group">
                                    <label for="disabledSelect">{{translate(curlng,'user')}}: </label>
                                    <select class="form-control" id="disabledSelect" ng-model="order.user_id">
                                        <option ng-repeat="user in users" {{(userId == user.id) && 'selected' || ''}}  value="{{user.id}}">{{user.name}}</option>
                                    </select>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label>{{translate(curlng,'comment')}}</label>
                                <textarea rows="3" class="form-control" ng-model="order.comment"></textarea>
                            </div>
                            <label>{{ translate(curlng,'clientbalance') }}:
                                <span class="btn btn-outline btn-default btn-xs" ng-click="reloadData()"><a href="/clients/edit/{{order.client.id}}" class="{{(order.client.balance > 0) && 'bgreen' || 'bred'}}" target="_blank">{{order.client.balance}}</a>&nbsp;&nbsp; <i class="fa fa-refresh"></i></span>
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="disabledSelect">{{ translate(curlng,'status') }}: </label>
                                <select class="form-control btn
                                    {{(order.state == 1) && 'btn-primary' || ''}}
                                    {{(order.state == 2) && 'btn-warning' || ''}}
                                    {{(order.state == 3) && 'btn-success' || ''}}
                                    {{(order.state == 4) && 'btn-info' || ''}}
                                    {{(order.state == 5) && 'btn-danger' || ''}}
                                btn-xs nobutton" ng-model="order.state" >
                                    <option ng-repeat="stat in statuses" ng-selected="stat.id==order.state"  value="{{stat.id}}">{{translate(curlng,stat.name)}}</option>
                                </select>
                            </div>
                            <label>{{ translate(curlng,'amount') }}</label>
                            <div class="form-group input-group">

                                <input placeholder="0.00" class="form-control" ng-model='order.amount'>
                                <span class="input-group-addon">&#8372;</span>
                            </div>
                            <div ng-show="orderId">
                                <div ng-hide="invoiceInfo">
                                    <label>{{ translate(curlng,'invoiceadd') }}</label>
                                    <div class="form-group input-group">
                                        <input placeholder="0.00" class="form-control w75"  ng-model='invoice.amount'>
                                        <button class="btn btn-default btn-circle" ng-click="saveInvoice()" type="button"><i class="fa fa-check"></i></button>
                                    </div>
                                </div>
                                <div ng-show="invoiceInfo">
                                    <label>{{ translate(curlng,'invoiceinfo') }}</label>
                                    <div class="form-group input-group">
                                        <input placeholder="0.00" class="form-control w75" disabled ng-model='invoiceInfo.amount'>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="orderId">
                        <div class="panel-heading">

                                <label>{{translate(curlng,'Jobs')}}:</label> <button ng-click="addJob()">+</button> <button ng-click="checkJob()">Reload</button>

                            <div class="fr"><span>{{ translate(curlng,'copytoamount') }}
                                <input placeholder="0.00" class=" w75" disabled ng-model='summa'></span>

                                <button class="btn btn-default btn-circle" ng-click="saveSumma(summa)" type="button"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="fr"><label>{{ translate(curlng,'summajobs') }}:</label>
                            </div>

                        </div>
                        <div class="panel-collapse in" id="collapseOne" style="height: auto;">
                            <div class="panel-body" ng-init="key=0">
                                <div class="row show-grid" >
                                    <div class="col-md-4 mrnlr3" >Device</div>
                                    <div class="col-md-3 mrnlr3" >Name</div>
                                    <div class="col-md-2 mrnlr3" >Comment</div>
                                    <div class="col-md-1 mrnlr3" >Price</div>
                                    <div class="col-md-1 mrnlr3" >Status</div>
                                    <div class="col-md-1 mrnlr3" >Action</div>
                                </div>
                                <div class="row show-grid" ng-repeat="job in jobs" ng-init="jobsArr[job.id]={}" >

                                    <div class="col-md-4 mrnlr3" title="{{job.id}}"><div style="width:20px;float:left;">{{key}}</div>

                                        <input type="hidden" ng-model="jobsArr[job.id].id"  ng-init="jobsArr[job.id].id=job.id">
                                        <input type="text" AUTOCOMPLETE="off" placeholder="Search..." class="form-control w75" size="20" ng-model="searchp" value="" name="name">
                                        <button class="w15" disabled>+</button>
                                        <select class="form-control w200" required="" ng-model="jobsArr[job.id].device_id" ng-init="jobsArr[job.id].device_id=job.device_id">
                                            <option ng-repeat="device in devices | filter: searchp" ng-selected="device.id==jobsArr[job.id].device_id"  value="{{device.id}}">{{device.name}}</option>
                                        </select>

                                    </div>
                                    <div class="col-md-3 mrnlr3" ><input type="text" class="w200" ng-model="jobsArr[job.id].name"  ng-init="jobsArr[job.id].name=job.name"></div>
                                    <div class="col-md-2 mrnlr3"><textarea ng-model="jobsArr[job.id].comment"  ng-init="jobsArr[job.id].comment=job.comment" style='height:23px'></textarea></div>
                                    <div class="col-md-1 mrnlr3" ><input type="text" class="clprice" ng-model="jobsArr[job.id].price"  ng-init="jobsArr[job.id].price=job.price"></div>
                                    <div class="col-md-1 mrnlr3" title="{{job.state}}">
                                        <select class="form-control btn
                                    {{(jobsArr[job.id].state == 1) && 'btn-primary' || ''}}
                                    {{(jobsArr[job.id].state == 2) && 'btn-warning' || ''}}
                                    {{(jobsArr[job.id].state == 3) && 'btn-success' || ''}}
                                    {{(jobsArr[job.id].state == 4) && 'btn-info' || ''}}
                                    {{(jobsArr[job.id].state == 5) && 'btn-danger' || ''}}
                                btn-xs nobutton" ng-model="jobsArr[job.id].state" ng-init="jobsArr[job.id].state=job.state" >
                                            <option ng-repeat="stat in statuses" ng-selected="stat.id==jobsArr[job.id].state"  value="{{stat.id}}">{{translate(curlng,stat.name)}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 mrnlr3"><button class="btn btn-success btn-outline btn-xs" ng-click="saveJob(job.id)">Save</button><button class="btn btn-outline btn-danger btn-xs" ng-click="delJob(job.id)">Del</button></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <input type="button" ng-click="update(user)" value="Save" name="submit" class="btn btn-default">
                    <input type="reset" ng-click="reset()" value="Reset" name="reset" class="btn btn-default">
                </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2014 by <a title="clients" href="mailto:glebm@mail.ru">WMD</a>. Все права защищены. [<a href="/application/locale/ru">ru</a> | <a href="/application/locale/en">en</a>]</p>
    </footer>
</div>




